body {
    margin: 0;
    margin-top: 100px;
    background-image: url("background.png");
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    background-color: #212F3C;
}

#logo img{
  max-width: 100%;
  height: 100px;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-right: 20px;
    color: white;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    padding: 50px;
}
